html {
    background: black;
    color: aliceblue;
    font-family: "Signika", sans-serif;
}
nav > ul {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
}
nav > ul > li {
    padding: .25rem;
    list-style-type: none;
}
nav a {
    text-decoration-line: none;
    color: aliceblue;
}
a {
    color: deepskyblue;
}
h1 {
    color: rgb(194, 205, 221);
    font-size: xx-large;
    font-weight: bold;
}
.current-page {
    background-color: darkred;
}
main {
    position: relative;
}
.projects {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#headshot {
    float: left;
    height: 5rem;
    width: 5rem;
    margin: 0px;
    padding: 0px;
}
#resume {
    font-size: x-small;
    font-style: italic;
}
#work-history, #education {
    float: left;
    width: 70%;
}
#education {
    clear: both;
}
#skills, #certifications, #honors {
    float: right;
    width: 30%;
    padding-top: 3rem;
}
footer {
    clear: both;
}
hr {
    clear: both;
}
.project-card {
    padding: 10px;
    
}
.project-card > figure {
    
}
.project-image {
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-width: 3px;
    border-style: none;
    border-color: darkslategray;
}
@media (max-width: 700px) {
    #resume {
        display: none;
    }
    #skills, #certifications, #honors {
        float: none;
        padding-top: 0rem;
    }
    .project-card {
        padding: 3px;
        
    }
    .project-image {
        width: 95%;
        
    }
}