#social {
    margin-right: 3rem;
}
.carousel-item {
    height: 275px;
}
.nav-link.active {
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
h1 {
    color: darkgreen;
    font-family: "K2D", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}
h2 {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.k2d-thin {
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .k2d-extralight {
    font-family: "K2D", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .k2d-light {
    font-family: "K2D", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .k2d-regular {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .k2d-medium {
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .k2d-semibold {
    font-family: "K2D", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .k2d-bold {
    font-family: "K2D", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .k2d-extrabold {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .k2d-thin-italic {
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .k2d-extralight-italic {
    font-family: "K2D", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .k2d-light-italic {
    font-family: "K2D", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .k2d-regular-italic {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .k2d-medium-italic {
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .k2d-semibold-italic {
    font-family: "K2D", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .k2d-bold-italic {
    font-family: "K2D", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .k2d-extrabold-italic {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  /*
* image-accordion
*/
.image-accordion {
    padding-left: 0;
    list-style: none;
    display: flex;
}
.image-accordion .button {
    color: var(--color-white);
}
.image-accordion__item {
    overflow: hidden;
    background-size: cover;
    color: var(--color-white);
    padding: 2rem 2rem 2rem 2rem;
    height: 30rem;
    width: 20%;
    align-content: end;
}
.image-accordion__content {
    background-color: #f5e29d;
    width: fit-content;
    border-radius: 1rem;
    padding: .5rem .75rem;;
}
.image-accordion__item:nth-child(1){
    width:60%;
    animation: resize-1 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(1) * {
    animation: toggle-visible-1 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(2){
    width: 20%;
    animation: resize-2 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(2) * {
    animation: toggle-visible-2 15s linear 0s infinite alternate;
}
.image-accordion__item:nth-child(3) {
    width: 20%;
    animation: resize-1 15s linear 0s infinite alternate-reverse;
}
.image-accordion__item:nth-child(3) * {
    animation: toggle-visible-3 15s linear 0s infinite alternate;
}
@keyframes resize-1 {
    0% {width: 60%;}
    32% {width: 60%;}
    34% {width: 20%;}
    100% {width: 20%;}    
}
@keyframes resize-2 {
    0% {width: 20%;}
    31% {width: 20%}
    33% {width:60%;}
    66% {width: 60%;}
    68% {width: 20%;}
    100% {width: 20%;}    
}
@keyframes resize-3 {
    0% {width: 20%;}
    64% {width:20%;}
    66% {width: 60%;}
    100% {width: 60%;}    
}
@keyframes toggle-visible-1 {
    0% {visibility: visible;}
    30% {visibility: visible;}
    32% {visibility: hidden;}
    100% {visibility: hidden;}   
}
@keyframes toggle-visible-2 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    35% {visibility: visible;}
    64% {visibility: visible;}
    66% {visibility: hidden;}
    100% {visibility: hidden;}    
}
@keyframes toggle-visible-3 {
    0% {visibility: hidden;}
    66% {visibility: hidden;}
    68% {visibility: visible;}
    100% {visibility: visible;}    
}