html {
    background: rgb(194, 205, 221);
    font-family: "Plus Jakarta Sans", sans-serif;
}
nav > ul {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
}
nav > ul > li {
    padding: .25rem;
    list-style-type: none;
}
nav a {
    text-decoration-line: none;
    color: black;
}

.current-page {
    background-color: aliceblue;
}
main {
    position: relative;
}
.projects {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#headshot {
    float: left;
    height: 5rem;
    width: 5rem;
    margin: 0px;
    padding: 0px;
}
#work-history, #education {
    float: left;
    width: 70%;
}
#education {
    clear: both;
}
#skills, #certifications, #honors {
    float: right;
    width: 30%;
    padding-top: 3rem;
}
footer {
    clear: both;
}
hr {
    clear: both;
}
.project-card {
    padding: 10px;
}
.project-image {
    height: 300px;
    width: 400px;
    object-fit: cover;
}
@media (max-width: 700px) {
    #skills, #certifications, #honors {
        float: none;
    }
    .project-card {
        padding: 3px;
    }
    .project-image {
        width: 95%;
    }
}